@import "tailwindcss";

/* El escaneo de contenido ahora se gestiona desde tailwind.config.ts */

:root {
  --color-brand-lightBg: #FAF6F0;    
  --color-brand-textDark: #1E1B18;   
  --color-brand-warmOrange: #D96B43; 
  --color-brand-accentGold: #EBB15B; 
  --color-brand-mutedRow: #F3EDE4;   
}

/* Aplicamos las variables nativas usando clases utilitarias de Tailwind */
body {
  background-color: var(--color-brand-lightBg);
  color: var(--color-brand-textDark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}